<!DOCTYPE html>
<html>
<head>
  <title>OstyleProjet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="col-md-12">
	<div class="col-md-6">2</div>
	<div class="col-md-6">1</div>
</div>


<%= yield %>

</body>
</html>
